<h1 align="center">Signup for my juicy blog</h1>

<%= render '/shared/errors', obj: @user  %>
<%= form_for @user, :html => {:class => "form-group"} do |f| %>
    <p>
        <%= f.label :username %><br>
        <%= f.text_field :username, class: "form-control", placeholder: "Enter Username", autofocus: true %>
    </p>

    <p>
        <%= f.label :email %><br>
        <%= f.email_field :email, class: "form-control", placeholder: "Enter email" %>
    </p>
     <p>
        <%= f.label :password %><br>
        <%= f.password_field :password, class: "form-control", placeholder: "Enter password" %>
    </p>

    <p>
        <%= f.submit "Sign up", class: "btn btn-secondary" %>
    </p>
<% end %>
